body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    background-color: #e0f0e0;
    color: #201020;
    margin: 20px;
}

p {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #443444;
    margin: 10px;
}
    
h1 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #332333;
    margin: 10px;
}

ul {
    margin: 20px;
}

li {
    margin: 5px;
}

a {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #0066cc;
    text-decoration: none;
    margin: 5px;
}

a:hover {
    color: #003366;
    text-decoration: underline;
}

img {
    margin: 15px;
}
